# Dependencies
node_modules/
*/node_modules/

# Production builds
build/
client/build/
dist/

# Environment variables
.env
.env*
**/.env*
server/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor and OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Vercel
.vercel
